* {
    box-sizing: border-box;
  }

.blogs{
    z-index: -2;
    margin: 6rem;
    border: 5px solid gray;
    border-radius: 20px;
    overflow-x: hidden;
    padding: 10px;
    overflow-y: scroll;
    width: 85vw;
    height: 70vh;
}
::-webkit-scrollbar {
  display: none;
}