/* BoardCard.css */
.board-card {
    position: relative;
    overflow: hidden;
  }
  
  .board-img {
    width: 100%;
    height:auto;
    display: block;
    
  }
  .border-card {
    border: 2px solid #c770f0;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding-top:20px;
  }

  .overlay {
    position: absolute;
    bottom: -100%; /* Initially off-screen */
    left: 0;
    width: 100%;
    background-color: rgba(91, 34, 87, 0.5);
    color: white;
    padding: 20px;
    transition: bottom 0.3s ease; /* Smooth transition for sliding */
  }
  
  .board-card:hover .overlay {
    bottom: 0; /* Slide the overlay up on hover */
  }
  
  .social-icons-board {
    position: absolute;
    bottom: -40px; /* Initially off-screen */
    left: 0;
    width: 100%;
    text-align: center;
    transition: bottom 0.3s ease; /* Smooth transition for sliding */
  }
  
  .board-card:hover .social-icons-board {
    bottom: 0; /* Slide the social icons up on hover */
  }
  
  .social-icons-board a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
  }
  
  .social-icons-board a:hover {
    color: #ff9900; /* Change color on hover */
  }
  